<section class="container">
  <header>
    <h1 class="header">Cell click game</h1>
  </header>

  <div class="control-row">
    <button class="btn-stroked" (click)="start()" [disabled]="this.time.disabled">Start</button>
    <label for="time">Time (ms): </label>
    <input id="time" type="number" [formControl]="time" [min]="1">
  </div>

  <app-results [playerScore]="playerScore" [compScore]="compScore"></app-results>

  <p class="help-message">{{ message }}</p>

  <div class="game-grid" [style.width.px]="rowCellsNum * 32 - 2" (click)="gridClick($event)">
    <div class="cell" *ngFor="let item of cellsArr; index as i" #cell [attr.data-cell-index]="i"></div>
  </div>
</section>

<app-modal #resultModal>
  <h2>{{ playerScore === rowCellsNum ? 'You have won!' : 'The computer won! Try again.' }}</h2>
  <app-results [playerScore]="playerScore" [compScore]="compScore"></app-results>
</app-modal>
